  
       body,
       html {
           margin: 0;
           padding: 0;
       }

       input:focus {
           outline: none !important;
           border-color: #37eb5e !important;
           box-shadow: 0 0 10px #30eb39 !important;
       }

       .ffot {
           display: flex;
           flex-direction: row;
           background-color: #111111;
           color: whitesmoke;
       }

       .divif1 {
           width: 35%;
       }

       .divif2 {
           width: 25%;
       }

       .divif3 {
           width: 25%;
       }

       .divif4 {
           width: 25%;
           margin-right: 50px;
       }

       .back-to-top {
           position: fixed;
           /*display: none;*/
           background: #18d26e;
           color: #fff;
           width: 44px;
           height: 44px;
           text-align: center;
           line-height: 1;
           font-size: 16px;
           border-radius: 50%;
           right: 15px;
           bottom: 15px;
           transition: background 0.5s;
           z-index: 11;
       }

       .back-to-top i {
           padding-top: 12px;
           color: #fff;
       }

       @media (max-width: 768px) {
           .back-to-top {
               bottom: 15px;
           }
       }

       @media screen and (max-width: 992px) {
           .ffot {

               display: flex;
               flex-direction: column;

           }


           .divif1,
           .divif2,
           .divif3,
           .divif4 {
               background-color: #111111;
               width: 100%;
           }


       }

       .line {
           background: gray;
           position: relative;
           height: 2px;
           width: 95%;
       }

       .line2 {
           background: rgb(95, 95, 95);
           position: relative;
           height: 1px;
           width: 95%;
       }

       .line:before {
           content: '';
           background: #18D26E;
           width: 20%;
           height: 2px;
           position: absolute;
       }

       a {
           color: rgb(231, 227, 227);
           text-decoration: none;

       }

       a:hover {
           color: #16A559;

       }

       .pdd {
           padding: -6px;
       }







i.fan {
                               display: inline-block;
                               border-radius: 60px;
                               box-shadow: 0px 0px 2px #888;
                               /* background-color: green; */
                               padding: 12px;
                               color: whitesmoke;

                           }

                           i.fan:hover {
                               background-color: rgb(4, 187, 4);
                           }