@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
body {
  background-color: #1b1b1b;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
* {
  font-family: "Poppins", sans-serif;
}

.navbar{
  background: none;
}



/********************** PRALLAX IMAGE STARTING ****************************/


.parallax-img {
  /* The image used */
background-image: linear-gradient(180deg, #1b1b1b, rgba(63, 214, 214, 0.5), #1b1b1b),
url('/IMG/ales-nesetril-Im7lZjxeLhg-unsplash.jpg');

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.container-upper{
  /* background-image: linear-gradient(180deg, #1b1b1b, rgba(63, 214, 214, 0.5), #1b1b1b),
  url('/IMG/ales-nesetril-Im7lZjxeLhg-unsplash.jpg'); */
  color:#fff;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}



.card img {
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.05);
  box-shadow: 0px 3px 0px rgba(63,214,214);
}

.btn-new{
  background-color: rgb(63,214,214);
  color: #fff;
  font-weight: 800;
}
