body {
    text-align: center;
    background-color: #1B1B1B;
}

h1 {
    font-size: 5rem;
    color: rgb(63, 214, 214);
    font-family: "Arvo", cursive;
}

footer {
    color: #DBEDF3;
    font-family: sans-serif;
}

.w {
    background-image: url(./images/tom1.png);
}

.a {
    background-image: url(./images/tom2.png);
}

.s {
    background-image: url(./images/tom3.png);
}

.d {
    background-image: url(./images/tom4.png);
}

.j {
    background-image: url(./images/kick.png);
}

.k {
    background-image: url(./images/crash.png);
}

.l {
    background-image: url(./images/snare.png);
}

.set {
    margin: 10% auto;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 3px 4px 0 #c86cfd;
    opacity: 0.8;
}

.red {
    color: red;
}

.drum {
    outline: none;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #eeff00;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
}